.list-group {
  min-width: 480px;
  background-color: lightgrey;
  width: 100%;

  min-height: 600px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#board-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#board-details {
    display: flex;
}
.board-column {
  width: 250px;
  margin: .2em 0 0 .2em;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0.2;
}
.column-list-viewport {
  max-height: 2200px;
  width: 100%;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-list-viewport .column-list {
    display: flex;
    flex-direction:row;
}

