<ng-container *ngIf="(board$ | async ) as board else noBoard">
  <div id="board-header">
    <div cdkDragHandle id="board-name">{{board.name}}</div>
    <div id="board-details">
      <div id="board-date">
        {{board.createDate}}
        <button mat-icon-button aria-hidden="false" color="primary" (click)="onAddColumnClick(board)"><mat-icon>add</mat-icon></button>
      </div>
    </div>
    
  </div>

  <div  class="list-group">
    <cdk-virtual-scroll-viewport  orientation="horizontal" itemSize="2" class="column-list-viewport">
      <!-- #TODO Create a column component -->
      <div cdkDropList [cdkDropListData]="board.columns" cdkDropListOrientation="horizontal" (cdkDropListDropped)="onColumnMove($event, board)" class="column-list">
        <app-column cdkDropListGroup
                    (onItemCardMove)="onItemCardMoveEvent($event, board)"
                    (addItemCardClick)="onAddItemCardSubmit($event)"
                    (onEditItemCard)="onEditItemCardSubmit($event)"
                    [linked]="getColumnIDs(board)"
                    (onDeleteClick)="deleteColumn($event)"
                    (onCardDeleteClick)="deleteCard($event)"
                    (onEditClick)="openColumnEditDialog(column)" *cdkVirtualFor="let column of board.columns" [cdkDragData]="column" [column]="column" class="board-column" cdkDrag>
          
        </app-column>
      </div>
    </cdk-virtual-scroll-viewport>


  </div>
</ng-container>
<ng-template #noBoard>
  <mat-card>
    <mat-card-title>
      Sorry
    </mat-card-title>
    <mat-card-content>
      I cannot find a board with this id
    </mat-card-content>
  </mat-card>
</ng-template>
