<ng-container *ngIf="(board$ | async ) as board else noBoard">
  <div id="board-header">
    <h4 cdkDragHandle>{{board.name}}: {{board.createDate}}</h4>
    <button mat-icon-button aria-hidden="false" color="primary" (click)="onAddColumnClick(board)" ><mat-icon>add</mat-icon></button>
  </div>

  <div cdkDropListGroup class="list-group">
    <cdk-virtual-scroll-viewport  orientation="horizontal" itemSize="20" class="column-list-viewport">
      <!-- #TODO Create a column component -->
      <div cdkDropList [cdkDropListData]="board.columns" cdkDropListOrientation="horizontal" (cdkDropListDropped)="onColumnMove($event, board)" class="column-list">
        <app-column *cdkVirtualFor="let column of board.columns" [column]="column" class="board-column mat-elevation-z3" cdkDrag>
          
        </app-column>
      </div>
    </cdk-virtual-scroll-viewport>


  </div>
</ng-container>
<ng-template #noBoard>
  oB
  at
  <mat-card>
    <mat-card-title>
      Sorry
    </mat-card-title>
    <mat-card-content>
      I cannot find a board with this id
    </mat-card-content>
  </mat-card>
</ng-template>
