.list-group {
  width: 960px;
  background-color: antiquewhite;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#board-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.board-column {
  width: 200px;
  margin: 1em;
  min-height: 100px;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0.2;
}
.column-list-viewport {
  max-height: 800px;
  width: 100%;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-list-viewport .cdk-virtual-scroll-content-wrapper .column-list {
  display: flex;
  flex-direction: row;
}

  .column-list-viewport .cdk-virtual-scroll-content-wrapper .column-list .column-header {
    display: flex;
    justify-content: space-between;
  }
    .column-list-viewport .cdk-virtual-scroll-content-wrapper .column-list .column-header .column-name {
      padding-top: .1em;
    }
    .column-list-viewport .cdk-virtual-scroll-content-wrapper .column-list .column-header .column-buttons {
      display: flex;
    }
      .column-list-viewport .cdk-virtual-scroll-content-wrapper .column-list .column-header .column-buttons mat-icon {
        margin-right: .1em;
      }
