<h1 mat-dialog-title>Edit {{data.name}}</h1>
<div mat-dialog-content>
  <p>Rename Board</p>
  <label for="board-name">Board Name:</label>
  <input matInput type="text" id="board-name" name="board-name" [(ngModel)]="data.name" value="data.name" >
</div>
<div mat-dialog-actions>
  <button mat-raised-button aria-hidden="false" [mat-dialog-close]="{success: false}">Cancel</button>
  <button mat-raised-button aria-hidden="false" [mat-dialog-close]="{success: true, name: data.name}">Save</button>

</div>
