.column-header {
    display: flex;
    justify-content: space-between;
  }
    .column-header .column-name {
      vertical-align: central;
      padding-top: .5em;
      font-size:medium;
    }
    .column-header .column-buttons {
      display: flex;
    }
      .column-header .column-buttons mat-icon {
        margin-right: .1em;
      }
